.carousel-inner {
  > .carousel-item {
    display: none;
  }

  > .slide-active {
    display: block;
  }
}

.carousel-indicators {
  text-align: center;
  position: relative;
  top: -70px;
  > .dot {
    display: inline-block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 0 4px;
    cursor: pointer;
    &.dot-active {
      background: gray;
      width: 50px;
    }
    &:hover {
      background: gray;
    }
  }
}

/* 淡出动画 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
