.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 2s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.indicators {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
  > div {
    display: inline-block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 0 4px;
  }
  > div.active {
    width: 50px;
    transition: transform 0.3s;
    background-color: gray;
  }
}

.buttons {
  text-align: center;
  > button {
    margin: 0 4px;
  }
}
